@model IEnumerable<WeatherForecastHourlyModel>
@{
    ViewData["Title"] = "WeatherForecastHourly";
}
<h1>Hourly Weather Forecast</h1>

<div id="date" class="carousel slide" data-ride="carousel"
     data-interval="3000" data-keyboard="true">
    <ol class="carousel-indicators">
        @{ string currentItem = "";
            int c = 0;
            foreach (var item in Model)
            {
                if (c == 0)
                {
                    currentItem = "active";
                }
                else
                {
                    currentItem = "";
                }
                <li data-target="#date" data-slide-to="@c"
                    class="@currentItem"></li>
                c++;
            }
        }
    </ol>
    <div class="carousel-inner">
        @{ c = 0;
            foreach (var item in Model)
            {
                if (c == 0)
                {
                    currentItem = "active";
                }
                else
                {
                    currentItem = "";
                }
                <div class="carousel-item @currentItem">
                    <img class="d-block w-100" src="~/images/@item.imagePath"
                         alt="@item.imagePath"/>
                    <div class="carousel-caption d-none d-md-block" style="text-shadow: 2px 2px #000000;">
                        <h1>@item.temperature°F</h1>
                        <h2>@item.forecastDate</h2>
                        <h4>Feels like @item.feelsLike°F with winds going @item.windSpeed mph @item.windDirection</h4>
                        <strong>
                            Descriptor: @item.descriptor<br />
                            Pressure: @item.pressure kPa<br />
                            Precipitation Percent: @item.precipitationPercent%<br />
                            Precipitation Amount: @item.precipitationAmount inches<br />
                            Cloud Cover: @item.cloudCover%<br />
                            Dew Point: @item.dewPoint%<br />
                            Humidity: @item.humidity%<br />
                        </strong>
                    </div>
                </div>
                c++;
            }
        }
    </div>
    <a class="carousel-control-prev" href="#date" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#date" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>